<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://paytonq.me/" target="_blank">paytonq.me</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:paytonq@cs.uw.edu" target="_blank">paytonq@cs.uw.edu</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/paytonquinn" target="_blank">linkedin.com/in/paytonquinn</a></p>
<p><i class="fa fa-facebook fa-lg fa-fw"></i> <a href="https://facebook.com/payton.quinn1/" target="_blank">@payton.quinn1</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/paytonq/" target="_blank">@paytonq</a></p>
